.DS_Store
DerivedData/
*.xcuserstate
*.gcno
*.log
*.mode1v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.perspective
*.rej
*.swp
*.synctex.gz
*.synctex
*.sym
*.xcbkptlist
*.xcchecklist
*.xcscheme
*.xcloc
*.xcsettings
*.xcuserstate
*.xctestproducts
*.xctestrun
*.xctest
*.zip
/build/
/dependencies/
/ios/Podfile.lock
/macos/Podfile.lock
/watchos/Podfile.lock
/tvos/Podfile.lock
/linux/Podfile.lock
/windows/Podfile.lock
/android/Podfile.lock
/web/Podfile.lock
/Podfile.lock
*.orig
*.moved-aside
*.moved-aside-*
*.tmproj/*
*.tmtxt
*.tmwebmate
*.sublime-project
*.sublime-workspace
/xcuserdata
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.profdata
/fastlane
/Carthage
/Pods

/SharedModels/.build/*


# CocoaPods specific
Podfile.lock

# Flutter files
**/ios/.symlinks/plugins/**
**/macos/.symlinks/plugins/**
**/linux/.symlinks/plugins/**
**/windows/.symlinks/plugins/**
**/android/.symlinks/plugins/**
**/web/.symlinks/plugins/**
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android Studio
/android/.gradle
/android/build
/android/captures
/android/.idea/caches/build_file_checksums.ser
/android/.idea/caches/gradle_models.ser
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/local.properties
/android/*.iml

# Node.js
node_modules/
/web/node_modules/

# RevenueCat Purchases
.revenuecat

# Swift Package Manager
.swiftpm/xcode/xcshareddata/xcschemes/
.swiftpm/xcode/xcuserdata/
