<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Geist-Thin.ttf</string>
		<string>Geist-UltraLight.ttf</string>
		<string>Geist-Light.ttf</string>
		<string>Geist-Regular.ttf</string>
		<string>Geist-Medium.ttf</string>
		<string>Geist-SemiBold.ttf</string>
		<string>Geist-Bold.ttf</string>
		<string>Geist-Black.ttf</string>
		<string>Geist-UltraBlack.ttf</string>
		<string>GeistMono-Thin.ttf</string>
		<string>GeistMono-UltraLight.ttf</string>
		<string>GeistMono-Light.ttf</string>
		<string>GeistMono-Regular.ttf</string>
		<string>GeistMono-Medium.ttf</string>
		<string>GeistMono-SemiBold.ttf</string>
		<string>GeistMono-Bold.ttf</string>
		<string>GeistMono-Black.ttf</string>
		<string>GeistMono-UltraBlack.ttf</string>
		<string>GeistPixel-Circle.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.sargon17.My-Year</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>my-year</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>Yearlit reads selected Apple Health activity metrics to fill Apple Health connected Calendars.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Yearlit does not write or update Apple Health data.</string>
	<key>POSTHOG_ENABLED</key>
	<string>$(POSTHOG_ENABLED)</string>
	<key>POSTHOG_HOST</key>
	<string>$(POSTHOG_HOST)</string>
	<key>POSTHOG_PROJECT_TOKEN</key>
	<string>$(POSTHOG_PROJECT_TOKEN)</string>
	<key>REVENUECAT_API_KEY</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>WISH_API_KEY</key>
	<string>wish_pk_fdd1a3bae1d94859a58898219a1d076a</string>
	<key>WISH_BASE_URL</key>
	<string>https://qualified-viper-293.convex.site</string>
	<key>WISH_PROJECT_ID</key>
	<string>jd76a32gr7hqyp30trwnds7c5x7rfdxq</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
